.guide-container{
    position: relative;
    z-index: 10;
    border: 2px solid var(--blue);
    border-top: 10px solid var(--blue);
    padding: 5rem 0;
    margin: 12rem auto;
}
.sub-container{
    width: 90%;
    margin: auto;
}
.heading{
    display: flex;
    align-items: center;
}
.computer{
    width: 10rem;
}
.year span{
    display: inline-block;
    width: 5rem;
    height: 0.5rem;
    background: var(--red);
    transform: translateY(-50%);
    border-radius: 1rem;
    margin: 0 0.5rem;
}
.slide-container{
    display: flex;
    gap: 2rem;
    margin: 3rem 0;
}
.slide-container .slide-img{
    width: 100%;
}
.guide-para{
    margin: 5rem 0;
}
.guide-para p{
    margin: 1rem;
}